---
title: Dayton Valley Aquaponics
layout: default
---

{% include lmnt-hero.html %}

{% comment %}
  who
{% endcomment %}
{% include lmnt-section-header.html subhead="Who We Are" headline="A Year-Round Aquaponic Greenhouse Focused On" anchor="who" typed="true" %}
{% include lmnt-section-who-grid.html %}
{% include lmnt-section-who-poster.html %}

{% comment %}
  what
{% endcomment %}
{% include lmnt-section-header.html subhead="What We Do" headline="Sacrifice Nothing When it Comes to Flavor" anchor="what" bottom-line="hidden" %}
{% include lmnt-section-what-articles.html %}

{% comment %}
  when
{% endcomment %}
{% include lmnt-section-header.html subhead="How We Do it" headline="Healthy Fish Means Happy Plants" anchor="how" %}
{% include lmnt-section-how-grid.html %}
{% include lmnt-section-how-poster.html %}
{% include lmnt-section-how-grid-blue.html %}

{% comment %}
  where
{% endcomment %}
{% include lmnt-section-header.html subhead="Where You Can Get It" headline="Conscious Farming Means Quality Harvest" anchor="where" %}
