---
title: Dayton Valley Aquaponics
layout: default
---

{% include lmnt-hero.html %}

{% comment %}
  who
{% endcomment %}
{% include lmnt-section-header.html subhead="Who We Are" headline="A Year-Round Aquaponic Greenhouse Focused On" anchor="who" typed="true" %}
{% include lmnt-section-who-grid.html %}

{% comment %}
  what
{% endcomment %}
{% include lmnt-section-header.html subhead="What We Do" headline="Sacrifice Nothing When it Comes to Flavor" anchor="what" %}

{% comment %}
  when
{% endcomment %}
{% include lmnt-section-header.html subhead="How We Do it" headline="Healthy Fish Means Happy Plants" anchor="how" %}

{% comment %}
  where
{% endcomment %}
{% include lmnt-section-header.html subhead="Where You Can Get It" headline="Conscious Farming Means Quality Harvest" anchor="where" %}
