// palette

$clr-orange:#EF7809;
$clr-plum:#002053;
$clr-dust:#FFEAD1;
$clr-aqua:#01BECF;
$clr-white:#ffffff;
$clr-mud:#463725;
$clr-canvas:#FDFDF4;

body {
  background-color:$clr-canvas;
  color:$clr-plum;
  a, a:visited, a:hover, a:active {
    color:$clr-plum;
    text-decoration:none;
  }
}

// selections

::-moz-selection {
  background:$clr-orange;
  opacity:100%;
  color:$clr-white;
 }
::selection {
  background:$clr-orange;
  opacity:100%;
  color:$clr-white;
 }

// text

.txt-clr-orange {
color:$clr-orange;
}

.txt-clr-plum {
color:$clr-plum;
}

.txt-clr-dust {
color:$clr-dust;
}

.txt-clr-aqua {
color:$clr-aqua;
}

.txt-clr-white {
color:$clr-white;
}

.txt-clr-mud {
color:$clr-mud;
}

.txt-clr-canvas {
color:$clr-canvas;
}

// backgrounds

.bg-clr-orange {
background-color:$clr-orange;
}

.bg-clr-plum {
background-color:$clr-plum;
}

.bg-clr-dust {
background-color:$clr-dust;
}

.bg-clr-aqua {
background-color:$clr-aqua;
}

.bg-clr-white {
background-color:$clr-white;
}

.bg-clr-mud {
background-color:$clr-mud;
}

.bg-clr-canvas {
background-color:$clr-canvas;
}

// line breaks

.txt-break-orange {
  position:relative;
  padding-bottom:$base/2;
  margin-bottom:$base/2;
  &:before {
    content:'';
    width:100px;
    height:6px;
    background-color:$clr-orange;
    position:absolute;
    left:0;
    bottom:0;
  }
}
