// typography

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$fnt-body: 'Open Sans', 'Helvetica', sans-serif;
$fnt-header: 'Karla', 'Open Sans', 'Helvetica', sans-serif;
$fnt-body-size: 20px;
$fnt-color-default: #000;

body {
	font-family: $fnt-body;
	color:$fnt-color-default;
}

// #####################################
// selections
// #####################################

::-moz-selection {
  background: black;
  opacity:100%;
  color:pink;
 }
::selection {
  background: black;
  opacity:100%;
  color:pink;
 }

// #####################################
// headers
// #####################################

h1, h2, h3, h4, h5, h6 {
  font-family: $fnt-header;
}

// #####################################
// body copy
// #####################################

p {
	font-size:$fnt-body-size;
	font-family: $fnt-body;
}

.txt-center {
	text-align:center;
}

.txt-left {
	text-align:left;
}

.txt-right {
	text-align:right;
}
