<section class="lmnt-article-grid row-full-width row-relative">
  <div class="row-flex flex-align-center flex-center row-site-width lmnt-article-row">
    <div class="lmnt-half lmnt-article-row-text lmnt-watch-slide-from-left">
      <h4 class="txt-clr-orange">
        INNOVATION IN AGRICULTURE
      </h4>
      <p>
        Grown locally, <span class="txt-clr-aqua">year-round</span>, the quality of our produce offering is absolutely unrivaled. Be it purples or browns, greens or blacks, our vine-ripened tomatoes, as with everything we grow, are both visually appealing and mouth-wateringly delicious.
      </p>
    </div>
    <div class="lmnt-half lmnt-article-row-img lmnt-article-border-left">
      <img src="https://source.unsplash.com/440x706/?nature,water" class="lmnt-watch-slide-from-right" />
    </div>
  </div>
  <div class="row-flex flex-row-reverse flex-align-center flex-center row-site-width lmnt-article-row">
    <div class="lmnt-half lmnt-article-row-text lmnt-watch-slide-from-right">
      <h4 class="txt-clr-orange">
        Reap Your Harvest
      </h4>
      <p>
        Picked at the peak of ripeness, our produce is bound to please. Whether its spicy basil, rich butter greens, or our sweet plum tomatoes, we sacrifice nothing when it comes to flavor.
      </p>
    </div>
    <div class="lmnt-half lmnt-article-border-right lmnt-article-row-img">
      <img src="https://source.unsplash.com/440x706/?tree,water" class="lmnt-watch-slide-from-left" />
    </div>
  </div>
</section>
