<head>
  <meta charset="utf-8">

  <!-- optimize mobile/enable mobile web app -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- keywords -->
  <meta name="keywords" content="{{site.data.seo.keywords}}">

  <!-- page title -->
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">

  <!-- opengraph -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.baseurl}}/{{page.url}}" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:description" content="{{page.description}}" />
  <meta property="og:image" content="{{ site.baseurl }}/assets/og.png" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="367" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="{{ site.url }}" />
  <meta name="twitter:title" value="" />
  <meta name="twitter:description" value="{{page.description}}" />
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/og.png" />
  <meta name="twitter:url" value="{{site.baseurl}}/{{page.url}}" />

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">

  <!-- jquery -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>

  <!-- analytics -->

</head>
