<section class="lmnt-table-wrap row-full-width row-relative">

   <div class="lmnt-table-header">
     Find The Latest Crop
    </div>
    <div class="lmnt-table-subtitle">
      Found in the local Reno-Tahoe-Carson area, our produce is sold direct to restaurants, caterers and grocers who value our craft.
    </div>

    <div class="buttons">
      <div class="lmnt-cta-button clicked">Saturday<span class="lmnt-cta-shadow"></span></div>
      <div class="lmnt-cta-button">Thursday<span class="lmnt-cta-shadow"></span></div>
      <div class="lmnt-cta-button">Tuesday<span class="lmnt-cta-shadow"></span></div>
    </div>
   
  {% for event in site.data.events.events %}
  <div class="lmnt-event-container" id="{{event.day}}">
      <div class="lmnt-event">
        <div class="lmnt-event-title">
          {{event.name}}
        </div>
        <div class="lmnt-event-info">
          <div class="lmnt-event-date">
            {{event.date}}
          </div>
          <div class="lmnt-event-address">
            {{event.address}}
            -
            {{event.city}}
          </div>
        </div>
      </div>

      <div class="lmnt-event-time">
          <div class="lmnt-event-time-inner">
              <span class="time-part">{{event.starttime}}</span>
              <span class="hyphen time-part">-</span>
              <span class="time-part">{{event.endtime}}</span>
          </div>
      </div>
  </div>
   {% endfor %}
  
</section>
{% comment %}
//box-shadow: 8px 8px 0px -2px $clr-canvas, 8px 8px 0 $clr-plum;
{% endcomment %}

