<section class="lmnt-article-grid lmnt-article-grid-wholesale row-full-width row-relative">
  <div class="row-flex flex-align-center flex-center row-site-width lmnt-article-row">
    <div class="lmnt-half lmnt-article-row-text">
      <h4 class="txt-clr-orange lmnt-watch-slide-from-left">
        LET’S DO THIS
      </h4>
      <p class="lmnt-watch-slide-from-left">
        Our product offerings are available in all sizes of bulk with consistent weekly availability.  We implore you to try us when looking to add a new favorite to your menu.
      </p>
    </div>
    <div class="lmnt-half lmnt-article-row-img lmnt-article-border-left">
      <img src="{{site.url}}{{site.baseurl}}/assets/images/img-content-20.png" class="lmnt-watch-slide-from-right" />
    </div>
  </div>
  <div class="row-flex flex-row-reverse flex-align-center flex-center row-site-width lmnt-article-row">
    <div class="lmnt-half lmnt-article-row-text">
      <h4 class="txt-clr-orange lmnt-watch-slide-from-right">
        HOW CAN WE ORDER?
      </h4>
      <p class="lmnt-watch-slide-from-right">
        Available through our distributor of choice, Great Basin Food Co-op's DROPP.
      </p>
    </div>
    <div class="lmnt-half lmnt-article-border-right lmnt-article-row-img">
      <img src="{{site.url}}{{site.baseurl}}/assets/images/img-content-21.png" class="lmnt-watch-slide-from-left" />
    </div>
  </div>
</section>

<section class="lmnt-cta-row row-flex row-full-width">
  <div class="row-flex flex-col flex-center flex-align-center">
    <h3 class="txt-clr-plum txt-center">
      You can begin ordering today!
    </h3>
    <a href="https://shop.dropp.coop/Account/Login" class="lmnt-cta-button" target="_blank">
      Create Dropp Account
      <span class="lmnt-cta-shadow"></span>
    </a>
    <span class="lmnt-cta-disclaimer">
      Not in DROPP's geographic delivery area? Please <a href="mailto:">contact us</a> as we constantly expand our own delivery routes.
    </span>
  </div>
</section>
