<section class="lmnt-who-grid row-full-width row-relative">
  <div class="row-flex lmnt-grid">

    {% comment %}
      top row
    {% endcomment %}
    <div class="lmnt-grid-item lmnt-third">
      <div class="lmnt-grid-item-inner lmnt-watch-fade-in-1" style="background-image:url('https://source.unsplash.com/1600x900/?nature,water')">
      </div>
    </div>

    <div class="lmnt-grid-item lmnt-two-third">
      <div class="lmnt-grid-item-inner">
        <span class="abs-right-top lmnt-grid-item-year txt-clr-orange lmnt-watch-slide-from-right">
          2017
        </span>
        <h2 class="txt-clr-aqua txt-3d-plum  lmnt-watch-slide-from-right">
          45,000
        </h2>
        <h3 class="lmnt-watch-slide-from-right">
          Circulated Gallons of Water
        </h3>
      </div>
    </div>

    {% comment %}
      middle row left side
    {% endcomment %}
    <div class="lmnt-grid-item lmnt-meta-grid lmnt-two-third lmnt-divide-border-right">
      <div class="lmnt-grid-item lmnt-half">
        <div class="lmnt-grid-item-inner lmnt-watch-fade-in-2" style="background-image:url('{{site.baseurl}}/assets/images/img-solar-grown.png')">
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-half">
        <div class="lmnt-grid-item-inner lmnt-watch-fade-in-3" style="background-image:url('https://source.unsplash.com/1600x900/?cats')">
        </div>
      </div>

      <div class="lmnt-full lmnt-square lmnt-grid-item lmnt-meta-grid">
        <div class="lmnt-grid-item lmnt-half lmnt-grid-item-100h">
          <div class="lmnt-grid-item-inner lmnt-grid-item-spacing bg-clr-dust lmnt-watch-fade-in-1">
            <span class="lmnt-grid-item-embellish abs-left-top">
              Sustainable
            </span>
            <h4 class="txt-clr-mud">
              &#60;95%
            </h4>
            <p class="txt-clr-mud txt-break-orange">
              Less water than a conventional soil-based farm.
            </p>
            <h4 class="txt-clr-mud">
              100%
            </h4>
            <p class="txt-clr-mud">
              Of water is recycled in the system, with only about 10-15% being lost per day due to evaporation.
            </p>
          </div>
        </div>
        <div class="lmnt-grid-item lmnt-half lmnt-grid-item-100h lmnt-meta-grid lmnt-grid-vertical">
          <div class="lmnt-grid-item lmnt-full">
            <div class="lmnt-grid-item-inner lmnt-watch-fade-in-4" style="background-image:url('https://source.unsplash.com/1600x900/?birds')">
            </div>
          </div>
          <div class="lmnt-grid-item lmnt-full">
            <div class="lmnt-grid-item-inner lmnt-watch-fade-in-3" style="background-image:url('https://source.unsplash.com/1600x900/?tomatoes')">
            </div>
          </div>
        </div>
      </div>
    </div>


    {% comment %}
      middle row right side
    {% endcomment %}
    <div class="lmnt-third lmnt-divide-border-left lmnt-grid-item lmnt-meta-grid lmnt-grid-vertical">
      <div class="lmnt-grid-item lmnt-full lmnt-sq-who-grid-fix">
        <div class="lmnt-grid-item-inner lmnt-grid-item-spacing bg-clr-mud lmnt-watch-fade-in-1">
          <span class="lmnt-grid-item-embellish abs-left-top">
            It Matters
          </span>
          <h3 class="txt-clr-white">
            We are an oil free facility
          </h3>
          <p class="txt-clr-white">
            We are heated using sustainable wood biomass fuel made of recycled materials, this means that our facility is petroleum resource free and carbon neutral.
          </p>
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-full lmnt-sq-third">
        <div class="lmnt-grid-item-inner lmnt-grid-item-spacing bg-clr-mud lmnt-watch-fade-in-2"  style="background-image:url('https://source.unsplash.com/1600x900/?peru')">
        </div>
      </div>
    </div>

    {% comment %}
      bottom row
    {% endcomment %}
    <div class="lmnt-grid-item lmnt-two-third">
      <div class="lmnt-grid-item-inner">
        <span class="abs-right-top lmnt-grid-item-year txt-clr-orange lmnt-watch-fade-in-3">
          2017
        </span>
        <h2 class="txt-clr-aqua txt-3d-plum lmnt-watch-slide-from-left">
          85,000w
        </h2>
        <h3 class="lmnt-watch-slide-from-left">
          Solar Energy Generated Daily
        </h3>
      </div>
    </div>
    <div class="lmnt-grid-item lmnt-third lmnt-watch-fade-in-1">
      <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?nature,water')">
      </div>
    </div>


  </div>
</section>
