<div class="lmnt-section-header-plum row-full-width row-relative">
	<a class="anchor" id="contact"></a>
	<div class="row-site-width row row-flex flex-align-center flex-col lmnt-section-header-inner">
		<h4 class="txt-clr-white txt-center">
			Dayton Valley Aquaponics
		</h4>
		<h2 class="txt-clr-white txt-center">
			SUSTAINABLE AQUAPONICS DONE RIGHT.
		</h2>
	</div>
</div>

<footer>
	<div class="lmnt-footer-top">
		<div class="lmnt-footer-top-left">
			<a href="mailto:" class="lmnt-foot-button">
				<img src="{{site.baseurl}}/assets/icons/ico-mail-alt.svg" /> Questions?
			</a>
		</div>
		<div class="lmnt-footer-top-middle">
			<span>
				Share the Knowledge
			</span>
			<span>
				<a href="{{ site.data.social.fb }}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-1">
					<img src="{{site.baseurl}}/assets/icons/ico-fb-white.svg" />
				</a>
				<a href="{{ site.data.social.twitter }}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-2">
					<img src="{{site.baseurl}}/assets/icons/ico-twitter-white.svg" />
				</a>
				<a href="{{ site.data.social.linkedin }}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-3">
					<img src="{{site.baseurl}}/assets/icons/ico-linkedin-white.svg" />
				</a>
				<a href="{{ site.data.social.reddit }}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-4">
					<img src="{{site.baseurl}}/assets/icons/ico-reddit-white.svg" />
				</a>
			</span>
		</div>
		<div class="lmnt-footer-top-right">
			Follow us
			<a href="{{ site.data.social.fb }}" target="_blank">
				<img src="{{site.baseurl}}/assets/icons/ico-fb-plum.svg" />
			</a>
			<a href="{{ site.data.social.insta }}" target="_blank">
				<img src="{{site.baseurl}}/assets/icons/ico-insta-plum.svg" />
			</a>
		</div>
	</div>
	<div class="lmnt-footer-bottom">
		<div class="lmnt-footer-bottom-left">
			© {{ 'now' | date: "%Y" }} Dayton Valley Aquaponics
		</div>
		<div class="lmnt-footer-bottom-middle">
			<a href="#pageBody" class="lmnt-foot-button">
				Back to Top
			</a>
		</div>
		<div class="lmnt-footer-bottom-right">
			 ❤ MADE IN NEVADA
		</div>
	</div>
</footer>

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>


<script>
  $(function(){
      $(".lmnt-community-typed").typed({
        strings: [
          "Community",
          "Sustainability",
          "Quality",
          "Consistency"
        ],
        typeSpeed: 100,
        loop: true
      });
  });
</script>

<script>
$('.lmnt-testimonial-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  dots: false,
  swipe: true,
  arrows: true,
  fade: false,
  speed: 600,
  autoplay: true,
  autoplaySpeed: 5000,
});
</script>
