<section class="row-full-width row-relative lmnt-year-round-poster bg-clr-plum">
  <div class="abs-fullwidth-top">
    <img src="{{site.baseurl}}/assets/images/img-section-cut-top.svg" />
  </div>
  <div class="abs-fullwidth-bottom">
    <img src="{{site.baseurl}}/assets/images/img-section-cut-bottom.svg" />
  </div>
  <div class="lmnt-year-round-poster-inner row-site-width row-flex flex-col flex-center flex-align-center lmnt-watch-zoom-in-1">
    <h3 class="txt-clr-white txt-center">
      Our facility is designed to provide the Northern Nevada Market With
    </h3>
    <h2 class="txt-clr-white txt-3d-plum lmnt-year-round-skew txt-center">
      Year-Round
    </h2>
    <h2 class="txt-clr-dust txt-3d-plum txt-center">
      Fresh, Sustainable, & Healthy Produce.
    </h2>
  </div>
</section>
