<section class="lmnt-who-grid row-full-width row-relative">
  <div class="row-flex lmnt-grid flex-row-reverse">

    {% comment %}
      middle row left side
    {% endcomment %}
    <div class="lmnt-grid-item lmnt-meta-grid lmnt-two-third lmnt-divide-border-left-dotted">
      <div class="lmnt-grid-item lmnt-half lmnt-watch-fade-in-4">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?chocolate')">
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-half lmnt-watch-fade-in-3">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?flowers')">
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-half lmnt-watch-fade-in-2">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?candy')">
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-half lmnt-watch-fade-in-1">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?cactus">
        </div>
      </div>


    </div>


    {% comment %}
      middle row right side
    {% endcomment %}
    <div class="lmnt-third lmnt-divide-border-right-padding lmnt-grid-item lmnt-meta-grid lmnt-grid-vertical">
      <div class="lmnt-grid-item lmnt-full lmnt-sq-how-grid-fix">
        <div class="lmnt-grid-item-inner lmnt-grid-item-spacing bg-clr-aqua lmnt-watch-fade-in-4">
          <span class="lmnt-grid-item-embellish abs-left-top txt-clr-white">
            Minimize
          </span>
          <h3 class="txt-clr-white">
            Reduce water use by up to 90%
          </h3>
          <p class="txt-clr-white">
            Powered by a massive photo-voltaic solar array and heated by renewable bio-fuels, we maintain ideal growing conditions, regardless of season, while minimizing our ecological impact.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
