<section class="lmnt-who-poster row-full-width row-relative">
  <div class="lmnt-who-poster-inner">
    <span class="txt-caption">
      Drum Roll, Please
    </span>

    <div class="lmnt-who-poster-section">
      <h3 class="txt-center txt-clr-white">
        All of this paired with a sustainable army of
      </h3>
      <h1 class="txt-5-vw txt-center txt-border-orange txt-clr-plum">
        7,800
      </h1>
      <h3 class="txt-center txt-clr-white">
        Tilapia Fish
      </h3>
    </div>

    <div class="lmnt-who-poster-section">
      <h4 class="txt-center txt-clr-aqua">
        Approximately produces over
      </h4>
      <h2 class="txt-5-vw txt-center txt-border-white">
        100,000
      </h2>
      <h3 class="txt-center txt-clr-orange">
        Pounds of Tomatoes
      </h3>
    </div>

    <div class="lmnt-who-poster-section">
      <h2 class="txt-5-vw txt-center txt-border-white">
        12,000
      </h2>
      <h3 class="txt-center txt-clr-orange">
        Pounds of Lettuce
      </h3>
    </div>

    <div class="lmnt-who-poster-section">
      <h2 class="txt-5-vw txt-center txt-border-white">
        10,000
      </h2>
      <h3 class="txt-center txt-clr-orange">
        Pounds of Tilapia
      </h3>
      <h4 class="txt-center txt-clr-aqua">
        And, not to mention
      </h4>
    </div>

    <div class="lmnt-who-poster-section lmnt-who-poster-section-last">
      <h3 class="txt-center txt-clr-aqua">
        Fresh Basil
      </h3>
      <h3 class="txt-center txt-clr-aqua">
        Sunflower Shoots
      </h3>
      <h3 class="txt-center txt-clr-aqua">
        Sweet Peppers
      </h3>
      <h3 class="txt-center txt-clr-aqua">
        & Edible Flowers
      </h3>
      <h3 class="txt-center txt-clr-white">
        All Year.
      </h3>
    </div>

    <span class="txt-caption">
      Ya heard?
    </span>

  </div>
</section>
