{% assign nav-counter = 0 %}
<nav>
  <div class="lmnt-nav-inner">

    <div class="lmnt-nav-left">
      <div class="lmnt-nav-logo">
        <a data-scroll href="#pageBody">
          <img src="{{site.baseurl}}/assets/images/img-brandmark.svg" />
          <img src="{{site.baseurl}}/assets/images/img-logotype.svg" class="logotype" />
        </a>
      </div>

      <ul class="lmnt-nav-list">
        {% for link in site.data.nav.links %}
          {% assign nav-counter = nav-counter | plus: 1 %}
          <a data-scroll href="{{ link.url }}" class="lmnt-nav-link">
            <li>
              <span>
                0{{ nav-counter }}
              </span>
              {{ link.label }}
            </li>
          </a>
        {% endfor %}
        <a data-scroll href="#contact" class="lmnt-nav-link lmnt-nav-link-contact">
          <li>
            <span>
              HI
            </span>
            Contact
          </li>
        </a>
        <div class="lmnt-nav-mobile-close">
          Close Menu
        </a>
      </ul>
    </div>


    <div class="lmnt-nav-right">
      <a href="#wholesale">
        <div class="lmnt-nav-focus">
          <span>
            0{{ nav-counter | plus: 1 }}
          </span>
          Wholesale
        </div>
      </a>
      <div class="lmnt-nav-toolbox">
        <a href="#contact">
          <img src="{{site.baseurl}}/assets/icons/ico-mail.svg" class="lmnt-nav-contact" />
        </a>
        <div class="lmnt-nav-hamburger">
          <span class="lmnt-hamburger-bar"></span>
          <span class="lmnt-hamburger-bar"></span>
          <span class="lmnt-hamburger-bar"></span>
        </div>
      </div>
    </div>

  </div>
</nav>
