<section class="lmnt-what-finest row-full-width row-flex flex-col flex-center flex-align-center">
  <div class="row-flex row-relative lmnt-what-finest-container lmnt-grid flex-col flex-center flex-align-center">
    <span class="abs-left-top lmnt-watch-slide-from-left">
      Sustainable Farming at it's
    </span>
    <span class="abs-right-bottom lmnt-watch-slide-from-right">
      Dayton Valley • NV
    </span>
    <h2 class="txt-center txt-3d-plum txt-clr-aqua row-site-width lmnt-watch">
      Finest
    </h2>
  </div>
</section>
