<head>
  <meta charset="utf-8">

  {% comment %} optimize mobile/enable mobile web app {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  {% comment %} keywords {% endcomment %}
  <meta name="keywords" content="{{site.data.seo.keywords}}">

  {% comment %} page title {% endcomment %}
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">

  {% comment %} opengraph {% endcomment %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{site.baseurl}}{{page.url}}" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:description" content="{{page.description}}" />
  <meta property="og:image" content="{{ site.baseurl }}/assets/og.png" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="367" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="{{ site.url }}" />
  <meta name="twitter:title" value="{{ page.title }}" />
  <meta name="twitter:description" value="{{ page.description }}" />
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/og.png" />
  <meta name="twitter:url" value="{{site.url}}{{site.baseurl}}{{page.url}}" />
  <meta property="fb:app_id" content="966242223397117" />

  {% comment %} favicon {% endcomment %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/assets/favicon/manifest.json">
  <link rel="mask-icon" href="{{site.baseurl}}/assets/favicon/safari-pinned-tab.svg" color="#01becf">
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon/favicon.ico">
  <meta name="msapplication-config" content="{{site.baseurl}}/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#01becf">

  {% comment %} stylesheet {% endcomment %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">

  {% comment %} js {% endcomment %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/smoothscroll.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/typed.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/slick.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/inviewport.js"></script>

  {% comment %} analytics {% endcomment %}

</head>
