<section class="lmnt-section-caption lmnt-section-caption-top row-full-width row-flex flex-center flex-align-center">
  <div class="row-flex row-site-width flex-center flex-align-center">
    <span class="txt-caption">
      The Approach
    </span>
  </div>
</section>

<section class="lmnt-how-poster row-full-width row-relative">
  <div class="lmnt-how-poster-inner">
    <span class="txt-caption lmnt-watch-slide-from-top">
      Tech, Meet Agriculture.
    </span>

    <div class="lmnt-how-poster-section-top row-full-width row-flex flex-center flex-align-center">
      <img src="{{site.baseurl}}/assets/images/img-dayton-badge.svg"  class="lmnt-watch-slide-from-top" />
    </div>

    <div class="lmnt-how-poster-section-bottom row-full-width row-flex flex-center flex-align-center">
      <p class="txt-clr-white txt-center lmnt-watch-slide-from-top">
        Our smart greenhouse facility, laden with sensors and processors, provides consistent high quality production <span class="txt-clr-aqua">year-round</span>, resulting in living wages for all employees.
      </p>
    </div>


    <span class="txt-caption lmnt-watch-slide-from-top">
      Did we say year-round farming?
    </span>

  </div>
</section>

<section class="lmnt-section-caption lmnt-section-caption-bottom row-site-width row-flex flex-center flex-align-center">
  <div class="row-flex flex-center flex-align-center">
    <span class="txt-caption">
      It's Completely Sustainable
    </span>
  </div>
</section>
