<section class="lmnt-who-grid row-full-width row-relative">
  <div class="row-flex lmnt-grid">

    {% comment %}
      middle row left side
    {% endcomment %}
    <div class="lmnt-grid-item lmnt-meta-grid lmnt-two-third lmnt-divide-border-right">
      <div class="lmnt-grid-item lmnt-half">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?chocolate')">
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-half">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?flowers')">
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-half">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?candy')">
        </div>
      </div>
      <div class="lmnt-grid-item lmnt-half">
        <div class="lmnt-grid-item-inner" style="background-image:url('https://source.unsplash.com/1600x900/?cactus">
        </div>
      </div>


    </div>


    {% comment %}
      middle row right side
    {% endcomment %}
    <div class="lmnt-third lmnt-divide-border-left lmnt-grid-item lmnt-meta-grid lmnt-grid-vertical">
      <div class="lmnt-grid-item lmnt-full lmnt-sq-how-grid-fix">
        <div class="lmnt-grid-item-inner lmnt-grid-item-spacing bg-clr-mud">
          <span class="lmnt-grid-item-embellish abs-left-top">
            ADAPT
          </span>
          <h3 class="txt-clr-white">
            GROWING IN THE HIGH DESERT IS EXTREMELY DIFFICULT
          </h3>
          <p class="txt-clr-white">
            Utilizing innovative agricultural technology and production methods, our aquaponic greenhouse facility is like no other.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
