<footer>
</footer>

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>


<script>
  $(function(){
      $(".lmnt-community-typed").typed({
        strings: [
          "Community",
          "Sustainability",
          "Quality",
          "Consistency"
        ],
        typeSpeed: 100,
        loop: true
      });
  });
</script>

<script>
$('.lmnt-testimonial-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  dots: false,
  swipe: true,
  arrows: true,
  fade: false,
  speed: 600,
  autoplay: true,
  autoplaySpeed: 5000,
});
</script>
