<div class="lmnt-section-header-plum row-full-width row-relative">
	<a class="anchor" id="contact"></a>
	<div class="row-site-width row row-flex flex-align-center flex-col lmnt-section-header-inner">
		<h4 class="txt-clr-white txt-center lmnt-watch-slide-from-top">
			Dayton Valley Aquaponics
		</h4>
		<h2 class="txt-clr-white txt-center lmnt-watch-slide-from-top">
			SUSTAINABLE AQUAPONICS DONE RIGHT.
		</h2>
	</div>
</div>

<footer>
	<div class="lmnt-footer-top">
		<div class="lmnt-footer-top-left">
			<a href="mailto:{{ site.data.social.email }}" class="lmnt-foot-button">
				<img src="{{site.baseurl}}/assets/icons/ico-mail-alt.svg" /> Questions?
			</a>
		</div>
		<div class="lmnt-footer-top-middle">
			<span>
				Share the Knowledge
			</span>
			<span>
				<a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-1">
					<img src="{{site.baseurl}}/assets/icons/ico-fb-white.svg" />
				</a>
				<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&text={{page.title}}&via={{site.data.social.twitter-handle}}&hashtags={{site.data.social.twitter-hashtags}}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-2">
					<img src="{{site.baseurl}}/assets/icons/ico-twitter-white.svg" />
				</a>
				<a href="https://www.linkedin.com/shareArticle?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{page.title}}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-3">
					<img src="{{site.baseurl}}/assets/icons/ico-linkedin-white.svg" />
				</a>
				<a href="https://reddit.com/submit?url={{ site.url }}&title={{page.title}}" target="_blank" class="lmnt-footer-social-share-icon lmnt-bounce-4">
					<img src="{{site.baseurl}}/assets/icons/ico-reddit-white.svg" />
				</a>
			</span>
		</div>
		<div class="lmnt-footer-top-right">
			Follow us
			<a href="{{ site.data.social.facebook }}" target="_blank">
				<img src="{{site.baseurl}}/assets/icons/ico-fb-plum.svg" />
			</a>
			<a href="{{ site.data.social.instagram }}" target="_blank">
				<img src="{{site.baseurl}}/assets/icons/ico-insta-plum.svg" />
			</a>
		</div>
	</div>
	<div class="lmnt-footer-bottom">
		<div class="lmnt-footer-bottom-left">
			© {{ 'now' | date: "%Y" }} Dayton Valley Aquaponics
		</div>
		<div class="lmnt-footer-bottom-middle">
			<a href="#pageBody" class="lmnt-foot-button">
				Back to Top
			</a>
		</div>
		<div class="lmnt-footer-bottom-right">
			 ❤ MADE IN NEVADA
		</div>
	</div>
</footer>






{% comment %}
footer scripts
{% endcomment %}

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>

<script>
  $(function(){
      $(".lmnt-community-typed").typed({
        strings: [
          "Community",
          "Sustainability",
          "Quality",
          "Consistency"
        ],
        typeSpeed: 100,
        loop: true
      });
  });
</script>

<script>
$('.lmnt-testimonial-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  dots: false,
  swipe: true,
  arrows: true,
  fade: false,
  speed: 600,
  autoplay: true,
  autoplaySpeed: 5000,
});
</script>

<script type="text/javascript" src="{{site.baseurl}}/js/inviewport.js"></script>
