<section class="lmnt-article-grid row-full-width row-relative">
  <div class="row-flex flex-align-center flex-center row-site-width lmnt-article-row">
    <div class="lmnt-half lmnt-article-row-text lmnt-watch-slide-from-left">
      <h4 class="txt-clr-orange">
        TOE-MAY-TOE, TOE-MAH-TOE
      </h4>
      <p>
        Our peak season for tomatoes starts in late September and ends sometime in May.
      </p>
    </div>
    <div class="lmnt-half lmnt-article-row-img lmnt-article-border-left">
      <img src="{{site.url}}{{site.baseurl}}/assets/images/img-content-17.png" class="lmnt-watch-slide-from-right" />
    </div>
  </div>

  <div class="row-flex flex-row-reverse flex-align-center flex-center row-site-width lmnt-article-row">
    <div class="lmnt-half lmnt-article-row-text lmnt-watch-slide-from-right">
      <h4 class="txt-clr-orange">
        SUPPLY & DEMAND
      </h4>
      <p>
        We will then transition out of tomato production through the hottest part of the summer, when there are lots of other farms producing tomatoes.
      </p>
    </div>
    <div class="lmnt-half lmnt-article-border-right lmnt-article-row-img">
      <img src="{{site.url}}{{site.baseurl}}/assets/images/img-content-18.png" class="lmnt-watch-slide-from-left" />
    </div>
  </div>

  <div class="row-flex flex-align-center flex-center row-site-width lmnt-article-row">
    <div class="lmnt-half lmnt-article-row-text lmnt-watch-slide-from-left">
      <h4 class="txt-clr-orange">
        PREPARATION IS KEY
      </h4>
      <p>
        Then, it’s time to start rotating in crops with a shorter lifespan like cucumbers, and preparing to plant out our Winter tomato crop the following September.
      </p>
    </div>
    <div class="lmnt-half lmnt-article-row-img lmnt-article-border-left">
      <img src="{{site.url}}{{site.baseurl}}/assets/images/img-content-19.png" class=" lmnt-watch-slide-from-right" />
    </div>
  </div>
</section>
