// content

body {
  min-height: 100vh;
}

// lmnt-hero
@-webkit-keyframes brandspin {
  0% {
    transform:  rotate(0deg);
    transform-origin:center center;
  }
  100% {
    transform:  rotate(360deg);
    transform-origin:center center;
  }
}

.lmnt-hero {
  height:100vh;
  position:relative;
  width:100%;
  max-width:100vw;
  overflow:hidden;
  .lmnt-hero-layer-1, .lmnt-hero-layer-2 {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-width:100vw;
    width:100%;
    img {
      max-width:100vw;
      width:100%;
    }
    .lmnt-hero-spin {
      transform-origin:center center;
      animation:brandspin 120s infinite linear;
    }
  }
  .lmnt-hero-layer-1 {
    text-align:center;
    z-index:400;
    img {
      transform-origin:center center;
      max-width:25vw;
      width:100%;
      transition: all 1s ease;
      &:hover {
        max-width:30vw;
      }
    }
  }
  .lmnt-hero-bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    line-height:50px;
    background-color:$clr-canvas;
    z-index:200;
    border-top:2px solid $clr-aqua;
    color:$clr-aqua;
    font-family:$fnt-header;
    font-size:14px;
    text-align:center;
    a, a:hover, a:visited, a:target {
      color:$clr-aqua;
      letter-spacing:4px;
      transition:all 1s ease;
    }
    a:hover {
      letter-spacing:8px;
    }
  }
}
