// content

body {
  min-height: 100vh;
}

// anchors

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

// positioning

.abs-left-bottom {
  position:absolute;
  left:0;
  bottom:0;
}
.abs-right-bottom {
  position:absolute;
  right:0;
  bottom:0;
}
.abs-left-top {
  position:absolute;
  left:0;
  top:0;
}
.abs-right-top {
  position:absolute;
  right:0;
  top:0;
}
.abs-fullwidth-top {
  position:absolute;
  right:0;
  left:0;
  top:0;
}
.abs-fullwidth-bottom {
  position:absolute;
  right:0;
  left:0;
  bottom:0;
}

// lmnt-hero
@-webkit-keyframes brandspin {
  0% {
    transform:  rotate(0deg);
    transform-origin:center center;
  }
  100% {
    transform:  rotate(360deg);
    transform-origin:center center;
  }
}

.lmnt-hero {
  height:100vh;
  position:relative;
  width:100%;
  max-width:100vw;
  overflow:hidden;
  .lmnt-hero-layer-1, .lmnt-hero-layer-2 {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-width:100vw;
    width:100%;
    @media (max-width:$base-sm) {
      width:200vw;
      max-width:200vw;
    }
    img {
      max-width:100vw;
      width:100%;
      @media (max-width:$base-sm) {
        width:200vw;
        max-width:200vw;
      }
    }
    .lmnt-hero-spin {
      transform-origin:center center;
      animation:brandspin 120s infinite linear;
    }
  }
  .lmnt-hero-layer-1 {
    text-align:center;
    z-index:400;
    img {
      transform-origin:center center;
      max-width:25vw;
      width:100%;
      transition: all 1s ease;
      &:hover {
        max-width:30vw;
      }
      @media (max-width:$base-sm) {
        width:35vh;
        max-width:35vh;
        &:hover {
          max-width:40vh;
        }
      }
    }
  }
  .lmnt-hero-bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    line-height:50px;
    background-color:$clr-canvas;
    z-index:200;
    border-top:2px solid $clr-aqua;
    color:$clr-aqua;
    font-family:$fnt-header;
    font-size:14px;
    text-align:center;
    a, a:hover, a:visited, a:target {
      color:$clr-aqua;
      letter-spacing:4px;
      transition:all 1s ease;
    }
    a:hover {
      letter-spacing:8px;
    }
  }
}

// lmnt-section-header

.lmnt-section-header {
  padding:$base*5 $base;
  &:before, &:after {
    content:'';
    width:2px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    height:($base*5)/1.5;
    background-color:$clr-aqua;
  }
  &:before {
    top:0;
  }
  &:after {
    bottom:0;
  }
  &.lmnt-section-header-bottom-line-hidden {
    padding:$base*5 $base $base $base;
    &:after {
      display:none;
    }
  }
  .lmnt-section-header-inner {
    &:before {
      content:'';
      position:absolute;
      width:70vh;
      height:70vh;
      border-radius:50%;
      background-color:$clr-dust;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      z-index:-1;
    }
  }
  .lmnt-typed-wrapper {
    height:130px;
    .lmnt-community-typed {
      display:inline-block;
    }
    .typed-cursor {
      @extend .txt-clr-aqua;
      @extend .txt-3d-plum;
      @extend h2;
    }
  }
}

// lmnt-section-header-aqua

.lmnt-section-header-aqua {
  padding:$base*3.5 $base;
  margin:$base*3 auto;
  background-color:$clr-aqua;
  &:before, &:after {
    content:'';
    width:2px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    height:($base*5);
    background-color:$clr-plum;
    z-index:200;
  }
  &:before {
    top:0-($base*2);
  }
  &:after {
    bottom:0-($base*2);
  }
  .lmnt-section-header-inner {
    position:relative;
    h4, h2 {
      z-index:200;
    }
    &:before {
      content:'';
      position:absolute;
      width:70vh;
      height:70vh;
      border-radius:50%;
      background-color:darken($clr-aqua,10%);
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      z-index:1;
    }
  }
}

// lmnt-who-grid
.lmnt-who-grid {
  padding-top:$base*2;
}

// lmnt-grid
.lmnt-grid {
  flex-wrap:wrap;
  padding:($base/4)/2;
  .lmnt-grid-item {
    display:flex;
    flex-direction:column;
    padding:($base/4)/2;
    &.lmnt-meta-grid {
      padding:0;
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
    }
    &.lmnt-grid-item-100h {
      height:100%;
    }
    .lmnt-grid-item-inner {
      padding:$base/2;
      position:relative;
      height:100%;
      background-position:center center;
      background-size:cover;
      background-repeat:no-repeat;
      // spacing
      &.lmnt-grid-item-spacing {
        padding:$base;
      }
      // text styles
      h2 {
        margin-bottom:$base/3;
      }
      h3 {
        font-size:4vw;
        line-height:1.2;
        margin-bottom:10px;
      }
      h4 {
        font-size:6vw;
        font-family:$fnt-body;
        font-weight:900;
        margin:0;
        letter-spacing:0;
      }
      .lmnt-grid-item-embellish {
        font-size:18px;
        font-weight:400;
        letter-spacing:1px;
        text-transform:uppercase;
        color:$clr-orange;
        padding:$base/3;
      }
      .lmnt-grid-item-year {
        border:7px solid $clr-orange;
        padding:5px;
        font-size:18px;
        font-weight:400;
        letter-spacing:4px;
      }
    }
  }
  .lmnt-third {
    height:30vw;
    &.lmnt-divide-border-left {
      padding-left:($base/4)/2;
    }
    &.lmnt-divide-border-right-padding {
      padding-right:($base/4)/2;
    }
  }
  .lmnt-two-third {
    &.lmnt-divide-border-right {
      padding-right:($base/4)/2;
      border-right:dotted $clr-aqua 4px;
    }
    &.lmnt-divide-border-left-dotted {
      padding-left:($base/4)/2;
      border-left:dotted $clr-aqua 4px;
    }
    .lmnt-half {
      height:33.33333333vw;
    }
    .lmnt-grid-item-100h {
      &.lmnt-half {
        height:inherit;
      }
    }
  }
}

// lmnt-who-poster

.lmnt-who-poster {
  background-color:$clr-plum;
  padding:$base/1.5;
  .lmnt-who-poster-inner {
    border:4px solid $clr-white;
    color:$clr-white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    .txt-caption {
      &:first-child {
        padding-bottom:$base*4;
      }
      &:last-child {
        padding-top:$base*4;
      }
    }
    .lmnt-who-poster-section {
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      padding-bottom:$base*3;
      margin-bottom:$base;
      position:relative;
      &:before {
        content:'';
        position:absolute;
        left:50%;
        bottom:0;
        transform:translateX(-50%);
        background-color:$clr-white;
        height:$base*2;
        width:3px;
      }
      &.lmnt-who-poster-section-last {
        margin-bottom:0;
        padding-bottom:0;
        &:before {
          display:none;
        }
      }
      h1 {
        font-size:30vw;
        line-height:1;
        letter-spacing:-2vw;
        margin:0;
        font-family:$fnt-body;
      }
      h2 {
        font-size:18vw;
        line-height:1;
        letter-spacing:0vw;
        margin:0;
        font-family:$fnt-body;
      }
    }
  }
}

// lmnt-article-grid

.lmnt-article-grid {
  .lmnt-article-row {
    padding:0;
  }
  .lmnt-half {
    padding:$base;
    &.lmnt-article-border-right {
      position:relative;
      &:before {
        content:'';
        position:absolute;
        top:0;
        bottom:0;
        right:-1px;
        width:2px;
        background-color:$clr-aqua;
      }
    }
    &.lmnt-article-border-left {
      position:relative;
      &:before {
        content:'';
        position:absolute;
        top:0;
        bottom:0;
        left:-1px;
        width:2px;
        background-color:$clr-aqua;
      }
    }
    img {
      border:30px solid $clr-dust;
    }
  }
}

// lmnt-section-caption

.lmnt-section-caption {
  position:relative;
  z-index:200;
  padding:$base*3 $base/2;
  &.lmnt-section-caption-top {
    &:before {
      content:'';
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      width:3px;
      height:$base*6;
      bottom:0-($base*3);
      background-color:$clr-aqua;
    }
  }
  &.lmnt-section-caption-bottom {
    &:before {
      content:'';
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      width:3px;
      height:$base*6;
      top:0-($base*3);
      background-color:$clr-aqua;
    }
  }
}

// lmnt-how-poster

.lmnt-how-poster {
  background-color:$clr-plum;
  padding:$base/1.5;
  .lmnt-how-poster-inner {
    border:4px solid $clr-white;
    color:$clr-white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:($base*2)+25px 0;
    p {
      font-size:4vw;
      line-height:1.2;
      padding:0 $base;
    }
    .lmnt-how-poster-section-top {
      border-bottom:4px solid $clr-white;
      padding:$base*2 13vw;
      position:relative;
      &:after, &:before {
        content:'';
        height:4px;
        width:10vw;
        background-color:$clr-white;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
      }
      &:after {
        left:0;
      }
      &:before {
        right:0;
      }
    }
    .lmnt-how-poster-section-bottom {
      padding:$base*2 $base;
      position:relative;
      &:after, &:before {
        content:'';
        height:4px;
        width:20vw;
        background-color:$clr-white;
        position:absolute;
        bottom:-25px;
      }
      &:after {
        left:0;
      }
      &:before {
        right:0;
      }
    }
  }
}

// lmnt-what-finest

.lmnt-what-finest {
  height:700px;
  padding:$base/2;
  .lmnt-what-finest-container {
    max-width:($base-max-width)-($base*4);
    width:100%;
    margin:0 auto;
  }
  h2 {
    transform: skew(0deg, -9deg);
    display:inline-block;
    padding:$base/4 0;
    border-top: 24px solid $clr-orange;
    border-bottom: 24px solid $clr-orange;
    text-align:center;
    @media (max-width:1300px) {
      font-size:22vw;
    }
    @media (min-width:1300px) {
      font-size:16vw;
    }
  }
  span {
    font-family:$fnt-body;
    font-weight:900;
    font-size:2.2vw;
    text-transform:uppercase;
    &.abs-left-top {
      max-width:20vw;
      top:-3vw;
    }
    &.abs-right-bottom {
      bottom:-3vw;
    }
  }
}

// lmnt-quote-row

.lmnt-quote-row {
  p {
    font-size:4vw;
    line-height:1.2;
    padding:0 $base $base $base;
  }
}

// lmnt-year-round-poster

.lmnt-year-round-poster {
  position:relative;
  &:before {
    content:'';
    position:absolute;
    width:55vw;
    height:55vw;
    border-radius:50%;
    background-color:$clr-aqua;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:5;
  }
  .abs-fullwidth-top, .abs-fullwidth-bottom {
    overflow:hidden;
    img {
      min-width:100vw !important;
      min-height:4vh !important;
    }
  }
  .abs-fullwidth-bottom {
    bottom:-6px;
  }
  .abs-fullwidth-top {
    top:-5px;
  }
  .lmnt-year-round-poster-inner {
    position:relative;
    z-index:200;
    padding:$base*6 $base;
    &:before, &:after {
      content:'';
      width:2px;
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      height:($base*5)/1.5;
      background-color:$clr-aqua;
    }
    &:before {
      top:-10px;
    }
    &:after {
      bottom:0;
    }
    h3 {
      font-size:2.6vw;
      line-height:1.2;
      padding:0 $base*4;
    }
    .lmnt-year-round-skew {
      transform: skew(0deg, -9deg);
      display:inline-block;
      padding:$base/4 0;
      border-top: 24px solid $clr-orange;
      border-bottom: 24px solid $clr-orange;
      margin:$base 0;
      font-size:10vw;
    }
  }
}

// lmnt-wholesale-grid

.lmnt-wholesale-grid-wrapper {
  h3 {
    margin-top:$base*2;
    font-size:3vw;
    line-height:1.2;
  }
  .lmnt-wholesale-grid {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:$base/6 $base/6 $base*2 $base/6;
    max-width:$base-max-width;
    width:100%;
    margin:0 auto;
    .lmnt-vendor-card {
      width:33%;
      flex:33%;
      flex-grow:0;
      padding:$base/6;
      &:nth-child(odd) {
        .lmnt-vendor-card-overlay {
          background-color:rgba($clr-plum,.6);
          &:hover {
            background-color:rgba($clr-plum,1);
          }
        }
      }
      &:nth-child(even) {
        .lmnt-vendor-card-overlay {
          background-color:rgba($clr-aqua,.6);
          &:hover {
            background-color:rgba($clr-aqua,1);
          }
        }
      }
      .lmnt-vendor-card-inner {
        overflow:hidden;
        border-radius:5px;
        position:relative;
        height:33vw;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        .lmnt-vendor-card-overlay {
          position:absolute;
          border-radius:5px;
          left:0;
          right:0;
          top:0;
          bottom:0;
          display:flex;
          flex-direction:column;
          justify-content:center;
          align-items:center;
          color:$clr-white;
          padding:$base/4;
          transition:all .5s ease;
          span {
            font-size:20px;
            line-height:1.2;
            margin-bottom:$base/2;
            color:$clr-white;
            margin-top:0;
          }
          h5 {
            font-size:45px;
            font-family:$fnt-body;
            line-height:1;
            margin-top:0;
            margin-bottom:$base/2;
            color:$clr-white;
            text-align:center;
          }
        }
      }
    }
  }
}

// lmnt-header-row

.lmnt-header-row {
  position:relative;
  .lmnt-header-row-inner {
    position:relative;
    z-index:200;
    padding:$base*4.5 $base;
    &:before, &:after {
      content:'';
      width:2px;
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      height:($base*5)/1.5;
      background-color:$clr-plum;
    }
    &:before {
      top:0px;
    }
    &:after {
      bottom:0;
    }
    &.lmnt-header-row-bottom-cut {
      padding:$base*4.5 $base ($base*4.5)/2 $base;
      &:after {
        height:(($base*5)/1.5)/2;
      }
    }
  }
}

// lmnt-testimonial-slider

.lmnt-testimonial-wrap {
  overflow:hidden;
  .lmnt-testimonial-slider {
    position:relative;
    &:before {
      content:'';
      width:2px;
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      height:(($base*5)/1.5)/2;
      background-color:$clr-plum;
      top:0px;
      z-index:300;
    }
    .lmnt-testimonial-slide {
      position:relative;
      height:700px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center center;
      &:nth-child(odd) {
        .lmnt-testimonial-slide-inner {
          background-color:rgba($clr-aqua,.6);
        }
      }
      &:nth-child(even) {
        .lmnt-testimonial-slide-inner {
          background-color:rgba($clr-plum,.6);
        }
      }
      .lmnt-testimonial-slide-inner {
        position:absolute;
        padding:$base;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        color:$clr-white;
        left:0;
        right:0;
        top:0;
        bottom:0;
        p {
          font-size:5vw;
          font-family:$fnt-quote;
          text-align:center;
          line-height:1.1;
          margin:0;
          padding:0 $base*1.5;
          z-index:300;
        }
        span {
          font-family:$fnt-body;
          font-weight:400;
          text-transform:uppercase;
          margin:5px 0;
          letter-spacing:2px;
          line-height:1.1;
          z-index:300;
        }
      }
    }
  }
}
