// nav

$nav-height:70px;
$nav-border:2px solid $clr-plum;

nav {
  position:fixed;
  width:100%;
  padding:$base/3;
  font-family:$fnt-header;
  z-index:800;
  @media (max-width:$base-md) {
    padding:($base/4)/2;
  }
  .lmnt-nav-inner {
    width:100%;
    max-width:$base-max-width;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    border:$nav-border;
    height:$nav-height;
    background-color:$clr-canvas;
    .lmnt-nav-list, .lmnt-nav-right, .lmnt-nav-left {
      list-style-type:none;
      margin:0;
      padding:0;
      display:inline-flex;
      flex-direction:row;
      align-items:stretch;
      height:$nav-height;
    }
    .lmnt-nav-left {
      align-items:center;
      .lmnt-nav-logo {
        padding:0 $base/4;
        border-right:$nav-border;
        height:$nav-height;
        display:flex;
        flex-wrap:nowrap;
        flex-direction:row;
        align-items:center;
        @media (max-width:$base-md) {
          border-right:none;
          a {
            display:flex;
            flex-wrap:nowrap;
            flex-direction:row;
            align-items:center;
          }
          .logotype {
            width:140px;
          }
        }
        img {
          &:first-child {
            margin-right:10px;
          }
        }
      }
    }
    li, .lmnt-nav-focus {
      border-right:2px solid rgba($clr-plum,1);
      border-top:2px solid rgba($clr-plum,1);
      border-bottom:2px solid rgba($clr-plum,1);
      padding:0 $base/2;
      align-content:center;
      line-height:($nav-height)-(4px);
      background-color:rgba($clr-aqua,0);
      color:$clr-plum !important;
      transform:scale(1);
      transform-origin:center center;
      transition:all .25s ease;
      position:relative;
      @media (max-width:$base-md) {
        display:none;
      }
      span {
        position:absolute;
        font-family:$fnt-body;
        left:5px;
        top:10px;
        color:$clr-orange;
        font-size:10px;
        line-height:0;
        transition:all .25s ease;
      }
      &:hover {
        // border-right:2px solid rgba($clr-plum,0);
        background-color:rgba($clr-aqua,1);
        color:$clr-white !important;
        // transform:scale(1.1);
        span {
          color:$clr-orange;
        }
      }
    }
    .lmnt-nav-focus {
      border-left:2px solid rgba($clr-plum,1);
      &:hover {
        border-left:2px solid rgba($clr-plum,1);
      }
    }
    .lmnt-nav-toolbox {
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:center;
      height:$nav-height;
      padding:0 $base/4;
      @media (max-width:$base-md) {
        border-left:2px solid rgba($clr-plum,1);
      }
      .lmnt-nav-contact {
        @media (max-width:$base-md) {
          display:none;
        }
      }
      .lmnt-nav-hamburger {
        display:none;
        @media (max-width:$base-md) {
          display:flex;
          align-items:center;
          flex-direction:column;
          justify-content:center;
          width:30px;
          height:50px;
          // z-index:999;
          .lmnt-hamburger-bar {
            height:4px;
            margin-bottom:5px;
            background-color:$clr-plum;
            width:100%;
          }
        }
      }
    }

    // mobile overlay

    .lmnt-nav-list {
      @media (max-width:$base-md) {
        &.lmnt-nav-mobile {
          position:fixed;
          left:0;
          right:0;
          top:0;
          bottom:0;
          height:100vh;
          width:100vw;
          background-color:$clr-aqua;
          display:flex;
          flex-direction:column;
          align-items:center;
          justify-content:center;
          padding:$base*1.5 $base/4;
          z-index:500;
          .lmnt-nav-link {
            width:100%;
            li {
              display:block;
              border-right:none;
              border-top:none;
              color: $clr-white !important;
              border-bottom:2px solid rgba($clr-plum,1);
            }
          }
          .lmnt-nav-mobile-close, .lmnt-nav-link-contact {
            display:block;
          }
        }
      }
    }

    .lmnt-nav-link-contact {
      display:none;
    }

    .lmnt-nav-mobile-close {
      display:none;
      position:fixed;
      bottom:0;
      left:0;
      right:0;
      text-align:center;
      padding:$base/2 $base/4;
    }
  }
}
