// columns

$lmnt-full:100;
$lmnt-half:($lmnt-full)/2;
$lmnt-third:($lmnt-full)/3;
$lmnt-quarter:($lmnt-half)/2;
$lmnt-eighth:($lmnt-quarter)/2;

div[class^="lmnt-"], div[class*=" lmnt-"] {
  position:relative;
}

.lmnt-full {
  width:($lmnt-full)+unquote("%");
}

.lmnt-half {
  width:($lmnt-half)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

.lmnt-third {
  width:($lmnt-third)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

.lmnt-two-third {
  width:($lmnt-third*2)+unquote("%");
  &.lmnt-square {
    height:60vw;
  }
  .lmnt-full {
    &.lmnt-square {
      height:60vw;
    }
  }
  @media (max-width:$base-sm) {
    width:100%;
    &.lmnt-square {
      height:auto;
    }
    .lmnt-full {
      &.lmnt-square {
        height:auto;
      }
    }
  }
}

.lmnt-quarter {
  width:($lmnt-quarter)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

.lmnt-three-quarter {
  width:($lmnt-quarter*3)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

.lmnt-eighth {
  width:($lmnt-eighth)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

.lmnt-three-eighth {
  width:($lmnt-eighth*3)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

.lmnt-five-eighth {
  width:($lmnt-eighth*5)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

.lmnt-seven-eighth {
  width:($lmnt-eighth*7)+unquote("%");
  @media (max-width:$base-sm) {
    width:100%;
  }
}

// medium viewport override

@media (max-width:$base-md) {
  .lmnt-full-md {
    width:$lmnt-full;
  }

  .lmnt-half-md {
    width:$lmnt-half;
  }

  .lmnt-third-md {
    width:$lmnt-third;
  }

  .lmnt-two-third-md {
    width:$lmnt-third*2;
  }

  .lmnt-quarter-md {
    width:$lmnt-quarter;
  }

  .lmnt-three-quarter-md {
    width:$lmnt-quarter*3;
  }

  .lmnt-eighth-md {
    width:$lmnt-eighth;
  }

  .lmnt-three-eighth-md {
    width:$lmnt-eighth*3;
  }

  .lmnt-five-eighth-md {
    width:$lmnt-eighth*5;
  }

  .lmnt-seven-eighth-md {
    width:$lmnt-eighth*7;
  }
}

// small viewport override

@media (max-width:$base-sm) {
  .lmnt-full-sm {
    width:$lmnt-full;
  }

  .lmnt-half-sm {
    width:$lmnt-half;
  }

  .lmnt-third-sm {
    width:$lmnt-third;
  }

  .lmnt-two-third-sm {
    width:$lmnt-third*2;
  }

  .lmnt-quarter-sm {
    width:$lmnt-quarter;
  }

  .lmnt-three-quarter-sm {
    width:$lmnt-quarter*3;
  }

  .lmnt-eighth-sm {
    width:$lmnt-eighth;
  }

  .lmnt-three-eighth-sm {
    width:$lmnt-eighth*3;
  }

  .lmnt-five-eighth-sm {
    width:$lmnt-eighth*5;
  }

  .lmnt-seven-eighth-sm {
    width:$lmnt-eighth*7;
  }
}

// squaress

.lmnt-sq-full {
  height:($lmnt-full)+unquote("vw");
}

.lmnt-sq-half {
  height:($lmnt-half)+unquote("vw");
}

.lmnt-sq-third {
  height:($lmnt-third)+unquote("vw");
  @media (max-width:$base-sm) {
    height:100vw;
  }
}

.lmnt-sq-two-third {
  height:($lmnt-third*2)+unquote("vw");
}

.lmnt-sq-who-grid-fix {
  // sorry, mom
  height:($lmnt-third*1.78)+unquote("vw");
  @media (max-width:$base-sm) {
    height:auto;
  }
}

.lmnt-sq-how-grid-fix {
  // sorry, mom
  height:66.5vw;
}

.lmnt-sq-quarter {
  height:($lmnt-quarter)+unquote("vw");
}

.lmnt-sq-three-quarter {
  height:($lmnt-quarter*3)+unquote("vw");
}

.lmnt-sq-eighth {
  height:($lmnt-eighth)+unquote("vw");
}

.lmnt-sq-three-eighth {
  height:($lmnt-eighth*3)+unquote("vw");
}

.lmnt-sq-five-eighth {
  height:($lmnt-eighth*5)+unquote("vw");
}

.lmnt-sq-seven-eighth {
  height:($lmnt-eighth*7)+unquote("vw");
}
