// rows.scss

.row-site-width {
  width:100%;
  max-width:$base-max-width;
  margin:0 auto;
  padding:$base/3;
}

.row-full-width {
  width:100%;
  max-width:100%;
  margin:0 auto;
}

.row-relative {
  position:relative;
}

// sizing

.row-lg {
  height:90vh;
}

.row-md {
  height:60vh;
}

.row-sm {
  height:30vh;
}

// flex rows

.row-flex {
  width:100%;
  margin:0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  // defaults
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;

  // directions
  &.flex-col {
    flex-direction: column;
  }
  &.flex-col-reverse {
    flex-direction: column-reverse;
  }
  &.flex-row-reverse {
    flex-direction: row-reverse;
  }
  // wrap
  &.flex-nowrap {
    flex-wrap: nowrap;
  }
  &.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  // order
  &.flex-first {
    order:-1;
  }
  &.flex-last {
    order:999;
  }
  // justify
  &.flex-between {
    justify-content: space-between;
  }
  &.flex-around {
    justify-content: space-around;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.flex-center {
    justify-content: center;
  }
  // align
  &.flex-align-center {
    align-items: center;
  }
  &.flex-align-end {
    align-items: flex-end;
  }
  &.flex-align-stretch {
    align-items: stretch;
  }
}
