// rows.scss

.row, .row-fullwidth {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  width:100%;
  max-width:$base-max-width;
  margin:0 auto;
}

.row-fullwidth {
  max-width:100%;
}

.row-flex {
  max-width:$base-max-width;
  width:100%;
  margin:0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  @media (max-width:$base-sm) {
    display:block;
  }
}

.row-relative {
  position:relative;
}

// #####################################
// sizing
// #####################################

.row-lg {
  height:90vh;
}

.row-md {
  height:60vh;
}

.row-sm {
  height:30vh;
}

// #####################################
// padding
// #####################################

.row-bump {
  padding:$base 0;
  @media (max-width:$base-sm) {
    padding:$base/2 0;
  }
}

.row-bump-2x {
  padding:$base*2 0;
  @media (max-width:$base-sm) {
    padding:$base/2 0;
  }
}

.row-bump-top-2x {
  padding-top:$base*2;
  @media (max-width:$base-sm) {
    padding-top:$base/2;
  }
}

.row-bump-bottom-2x {
  padding-bottom:$base*2;
  @media (max-width:$base-sm) {
    padding-bottom:$base/2;
  }
}

.row-bump-sides-2x {
  padding-left:$base*2;
  padding-right:$base*2;
  @media (max-width:$base-sm) {
    padding-left:$base/2;
    padding-right:$base/2;
  }
}

.row-bump-sides {
  padding-left:$base;
  padding-right:$base;
  @media (max-width:$base-sm) {
    padding-left:$base/2;
    padding-right:$base/2;
  }
}

.row-no-bump-bottom {
  padding-bottom:0;
}
